body {
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  background-color: #e0e0e0;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 20px 0;
}

header img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.content {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.text-block {
  margin-bottom: 20px;
}

.text-block h2 {
  margin-bottom: 10px;
}

.text-block p {
  margin-bottom: 10px;
}

.image-block {
  text-align: center;
}

.image-block img {
  max-width: 50%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

nav {
  background-color: #0e0b0b;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
}
nav {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link,
nav a:visited {
  color: white;
}
nav a:hover {
  color: white;
  background-color: #b90504;
  border-radius: 10px;
}
footer {
  background-color: #990100;
  padding: 20px 0;
  color: white;
  border-radius: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.footer-content ul li {
  margin-bottom: 5px;
}

.footer-content ul li a {
  text-decoration: none;
  color: white;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.footer-images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.footer-images img {
  max-width: 50px;
  margin: 0 10px;
}
.zoom-container {
  overflow: hidden;
}

.zoom-container img {
  transition: transform 0.3s ease;
}

.zoom-container:hover img {
  transform: scale(1.2);
  border-radius: 10px;
}
