body {
  font-family: "Noto Sans JP", "Roboto", sans-serif;
  background-color: #e0e0e0;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 50px;
  margin-bottom: 50px;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

legend {
  font-size: 1.2em;
  color: #333;
  padding: 0 10px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #333;
  color: #f9f9f9;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

nav {
  background-color: #0e0b0b;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
}
nav {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link,
nav a:visited {
  color: white;
}
nav a:hover {
  color: white;
  background-color: #b90504;
  border-radius: 10px;
}
footer {
  background-color: #990100;
  padding: 20px 0;
  color: white;
  border-radius: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.footer-content ul li {
  margin-bottom: 5px;
}

.footer-content ul li a {
  text-decoration: none;
  color: white;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.footer-images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
