body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #faf4d3;
}

header {
  background-color: #004643;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #0c1618;
  text-shadow: #faf4d3 1px 0 10px;
}

#head {
  display: grid;
  grid-template-columns: 150px auto;
  border-radius: 50px;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #faf4d3;
  /*padding*/
  padding: 35px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  background-color: #faf4d3;
  color: black;
  border-radius: 20px;
  opacity: 0.6;
  transition: 0.3s;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  background-color: #0c1618;
  margin-bottom: 30px;
  color: #faf4d3;
  justify-items: center;
  border-radius: 10px;
}

#card1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-clip: border-box;
}

video {
  padding-top: 20px;
  max-width: 100%;
  max-height: 300px;
  margin-left: 20px;
}

img {
  max-width: 100%;
  max-height: 600px;
  margin-left: 20px;
}

footer {
  text-align: center;
  background-color: #004643;
  color: #faf4d3;
  padding: 10px;
  border-radius: 5px;
}

a {
  color: #faf4d3;
}

a:hover {
  color: #004643;
}

main h2,
p {
  margin-left: 20px;
}
