@media screen and (max-width: 1450px) {

    .content {
        grid-template-columns: 1fr 1fr;
    }
        
}
@media screen and (max-width: 950px) {

    .content {
        grid-template-columns: 1fr;
    }
        
}

@media only screen and (min-width: 810px) {
    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; 
      flex: 1 1 100%;
    }
    .navigation a {
      text-align: center;
    }
    #menu {
      display: none;
    }
  }